<%- include('partials/header') %>

<div class="container mt-5">
    <a href="/" class="btn btn-lg btn-primary">Go Back</a>
    <h1>Please Register Your Account</h1>
    <form method="POST" action="/register" autocomplete="off">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" placeholder="First Name" name="firstName" class="form-control" id="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" placeholder="Last Name" name="lastName" class="form-control" id="lastName">
          </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" placeholder="Enter Your Email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" placeholder="Enter Your Password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
</div>

<%- include('partials/footer') %>